body{
    background-repeat: no-repeat;
    background-size: cover;
  }
  div{
    color: white;
    overflow: hidden;
    box-shadow: white;
  }
  div a{
    padding-left: 10px;
    color: black;
    text-decoration: none;
  }
  .card{
    background-color: rgb(152, 45, 152);
    width: 500px;
    height: 150px;
    padding: 30px;
    border-radius:20px;
    box-shadow: 0 4px 8px black;
    overflow: hidden;
    margin: 30% 40% 30% 40%;
    
  }
  .card5{
    background-color: rgb(187, 183, 183);
    color:#000 ;
    padding:30px;
    text-align: center;
    border-radius:30px;
    flex: 1 1 150px;
    width: 600px;
    height: 300px;
    border-color: black;
    margin-bottom: 10px;
  }
  
  .main_card {
    display: flex;
    gap: 20px;
    flex-wrap: warp;
  
  }
  .card1{
    background-color: rgb(201, 78, 201);
    color: white;
    padding: 50px;
    text-align: center;
    border-radius: 30px;
    flex: 1 1 150px; 
    width: 400px;
    height: 200px;
    border-color: black;
    
  }
  .card2{
    background-color: rgb(205, 82, 205);
    color:white ;
    padding:50px;
    text-align: center;
    border-radius:30px;
    flex: 1 1 150px;
    width: 400px;
    height: 200px;
    border-color: black;
  }
  .card3{
    background-color: rgb(201, 79, 201);
    color: white;
    padding: 50px ;
    text-align: center;
    border-radius: 30px;
    flex: 1 1 150px;
    width: 400px;
    height: 200px;
    border-color:black ;
  }
  nav{
    background-color: rgb(239, 230, 239);
    overflow: hidden;
    box-shadow: 0 4px 6px white;
  }
  .no-dots{
    list-style: none;
  }
  
  
  .image-class{
    border-radius: 100px;
    margin: 20px 50px 20px 50px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
  }
  .img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000;
  }
  .img1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    
  }
  .img2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #000;
  }
  .img3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #000;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  
  }
  header{
    background-color: rgb(230, 181, 175);
    color: black;
    padding: 20px 20px;
  }
  .about-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
  }
  .image1{
    background-color: cornsilk;
    color: crimson;
  }
  .image2{
    background-color: cornsilk;
    color: crimson;
  }
  .image3{
    background-color: cornsilk;
    color: crimson;
  }
  .from-group{
    background-color: rgb(116, 219, 116);
    color: black;
    margin: 20% 20%;
  }
  .chart-container{
    width: 100%;
    background-color: white;
    box-shadow: black;
    height: 400px;
    margin: 20px 0;
    border-radius: 10px;
  }
  .card2 script{
    align-items: center;
    color: #000;
  }
  